/* .userMessage{
    background-color: #a86532;
    padding: 20px 0px 20px 0px;
}
.userMessage span{
  margin-left: 40%;
  font-size: larger;
  font-weight: 500;
} */
button {
  margin-top: 15px;
  margin-top: 15px;
}
mat-accordion{
  width:100%
}